@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&family=Roboto:wght@500;700;900&display=swap");

:root {
  --bg: hsl(177, 51%, 62%);

  --white: hsl(100, 70%, 100%);
  --text: hsl(0, 9%, 13%);

  --section: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgb(217, 215, 215);
}
::-webkit-scrollbar-track {
  background: rgb(44, 9, 94);
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-size: 1.5rem;
  color: var(--text);

  font-family: "Poppins", sans-serif;
  /* font-family: "Roboto", sans-serif; */
}
section {
  padding-block: var(--section);
}

.container {
  width: 100%;
  padding-block: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--bg);
}
.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}
.first {
  position: absolute;
  top: 50px;
  right: 150px;
}
.second {
  position: absolute;
  bottom: 120px;
  left: 120px;
}

.glass {
  width: 800px;
  border-radius: 10px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(6px);

  display: flex;
  align-items: center;
  justify-content: flex-start;

  overflow: hidden;
  z-index: 99;

  position: relative;
}
.side-bar {
  background: #fff;
  width: 380px;
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-block: 5rem;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.info {
  margin-top: 1rem;
  font-weight: 300;
  color: rgb(74, 73, 73);
}
.profile-image {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
}
h2 {
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}
form {
  width: 100%;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
}
button {
  margin-top: 1rem;
  padding: 1rem;
  outline: none;
  border: none;
  font-weight: 500;

  border-radius: 5px;

  cursor: pointer;
  color: rgb(49, 49, 49);
  background: rgb(227, 235, 239);
}
textarea {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-block: 1.5rem;
}
textarea:focus {
  outline: none;
}
.messages {
  width: 100%;
  max-height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding-inline: 2rem;
  padding-block: 2rem;
  overflow-y: scroll;
}
.message {
  padding: 20px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.3);
  width: 230px;
  min-height: 110px;

  border-radius: 1rem;
  margin: 1rem;
}
.address,
.time {
  font-size: 12px;
  text-align: left;
  font-weight: 300;
  line-height: 18px;
}
.time {
  text-align: right;
}
.text {
  padding-block: 2rem;
  text-align: right;
  line-height: 20px;
}
.account {
  text-align: center;
  margin-top: 2rem;
  font-weight: 500;
  color: rgb(74, 73, 73);
}
@media screen and (max-width: 773px) {
  .container {
    padding-block: 0;
  }
  .glass {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .side-bar,
  .messages,
  .message {
    width: 100%;
  }
  .message {
    margin: 1rem 0;
  }
  .side-bar {
    background: none;
  }
  form {
    margin-top: 2rem;
  }
  .circle{
    display: none;
  }
}
